body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  background-color: rgba(10, 10, 10, .8);
  color: black;
  text-shadow: -1px 0 white, 0 .5px white, .5px 0 white, 0 -1px white;

}
h1{
  font-family: 'Fugaz One', cursive;
  font-weight: 800;
}
#growl-list li{
  list-style: none;
}
.growlItemContainer{
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}
.growlImage{
  display: inline-block;
  box-sizing: border-box;
  width: 120px;
  text-align: center;
  padding: 10px;
  vertical-align: top;
}
.growlImage img{
  width: 110px;
  height: auto;
  border-radius: 25px;

}
.growlcontent{
  display: inline-block;
  /*box-sizing: border-box;*/
  width: 480px;
  text-align: center;
  position: relative;
  border: 2px black dashed;
  /*padding: 25px;*/

}
h3.posterName{
  /*font-weight: bold;*/
  /*display: inline;*/
}
h3{
  font-weight: normal;
  display: inline-block;
  font-size: 12px;
  text-align: right;
  padding-left: 15px;
  text-shadow: none;

}
h2.postTitle{
  font-size: 20px;
  font-weight: 800;
  text-align: left;
  display: inline-block;
  padding-left: 15px;

}
